{% extends "layout.html" %}

{% block title %}
Home - Sophel Dalu
{% endblock %}

{% block content %}
<main>
    <h1 class="gaegu-regular">Sophel Dalu</h1>
    <p class="gamja-flower-regular">Class of 2029</p>


<div class="container">
    <h2 class="gaegu-regular">About Me</h2>
    <p class="gamja-flower-regular">
        Hello! I'm Sophel Dalu, a passionate student with a keen interest in technology and programming. I enjoy exploring new technologies and building projects that challenge my skills.
        Some of my other hobbies include reading, drawing, and junk journaling! I collect smiskis and other blind boxes.
    </p>
    </div>

    
</main>

{% endblock %}
