{% extends "layout.html" %}

{% block title %}
Projects - Sophel Dalu
{% endblock %}

{% block content %}

<div class="projects-page">
     <div class="projects-header">
         <h1 class="gaegu-regular">Projects</h1>
         <p class="gamja-flower-regular">Here are some of the projects I've worked on:</p>
     </div>
</div>

<div class="projects-grid">
    <div class="project-card">
        <img src="{{ url_for('static', filename='images/project1.png') }}" alt="Project 1">

        <div class="project-info">
            <h3 class="gaegu-regular">My Blog</h3>
            <p class="gamja-flower-regular">A blog website I created while learning HTML, CSS, Python, Flask, and SQLite.</p>

            <div class="project-tags, gamja-flower-regular">
                <span>Python</span>
                <span>Flask</span>
                <span>HTML</span>
                <span>CSS</span>
            </div>

            <a href="#" class="project-button, gamja-flower-regular">
                View Project →
            </a>

        </div>
    </div>

    <div class="project-card">
        <img src="{{ url_for('static', filename='images/project2.png') }}" alt="Project 2">

        <div class="project-info">
            <h3 class="gaegu-regular">Perfect Day</h3>
            <p class="gamja-flower-regular">Perfect Day is a personalized vacation planning web application designed to help travelers curate their ideal itinerary!
                By selecting a destination city and pinning a lodging location, you can effortlessly discover and organize nearby restaurants, cafés, museums, and hidden gems to build your perfect day.
            This was made for Sunbeam NYC Hackathon and won Best Interpretation Award.</p>

            <div class="project-tags, gamja-flower-regular">
                <span>HTML</span>
                <span>CSS</span>
            </div>

            <a href="https://sopheldalulu.github.io/vacationplanner/" class="project-button, gamja-flower-regular">
                View Project →
            </a>

        </div>
</div>
{% endblock %}